<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>502783031632-m8a9hv0u18q6r4cp4nt4a83rt3ur8fhf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.502783031632-m8a9hv0u18q6r4cp4nt4a83rt3ur8fhf</string>
	<key>API_KEY</key>
	<string>AIzaSyBdv-JnXCCZcHkSbrV6n3M1Wv1QMgzHY04</string>
	<key>GCM_SENDER_ID</key>
	<string>502783031632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.talawa</string>
	<key>PROJECT_ID</key>
	<string>talawa-api</string>
	<key>STORAGE_BUCKET</key>
	<string>talawa-api.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:502783031632:ios:2672ccf0be504d1b489455</string>
</dict>
</plist>