<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>4863530994-k1jt9kt3a199i0miatc9tm7n1vvh7ucc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.4863530994-k1jt9kt3a199i0miatc9tm7n1vvh7ucc</string>
	<key>API_KEY</key>
	<string>AIzaSyDC9cXktugLbiDNx39s8bdGubqVz7Uwf9I</string>
	<key>GCM_SENDER_ID</key>
	<string>4863530994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.talawa</string>
	<key>PROJECT_ID</key>
	<string>talawa-18dee</string>
	<key>STORAGE_BUCKET</key>
	<string>talawa-18dee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:4863530994:ios:ed708a0eea7647263b3d6b</string>
</dict>
</plist>