name: Auto Assign & Unassign (Org-wide Limit)

on:
  issue_comment:
    types: [created]

env:
  MAX_OPEN_ASSIGNMENTS: 2

jobs:
  handle-comment:
    uses: PalisadoesFoundation/.github/.github/workflows/auto-assign.yml@main
    secrets:
      ORG_ACCESS_TOKEN: ${{ secrets.ORG_ACCESS_TOKEN }}
