name: Add Unapproved Label on Unassignment

on:
  issues:
    types: [unassigned]

jobs:
  add-unapproved-label:
    uses: PalisadoesFoundation/.github/.github/workflows/issue-unassigned.yml@main
    secrets:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
