##############################################################################
##############################################################################
#
# NOTE!
#
# Please read the README.md file in this directory that defines what should
# be placed in this file
#
##############################################################################
##############################################################################

name: PR Workflow
on:
  pull_request:
    branches-ignore:
      - 'master'

env:
  CODECOV_UNIQUE_NAME: CODECOV_UNIQUE_NAME-${{ github.run_id }}-${{ github.run_number }}

jobs:
  Flutter-Codebase-Check:
    name: Checking codebase
    runs-on: ubuntu-latest
    #needs: PR-Greeting
    steps:
      - uses: actions/checkout@v3
        with:
          # ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu' # See 'Supported distributions' for available options
          java-version: '12.0'
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.16.0'
          channel: 'stable' # or: 'beta', 'dev' or 'master'
      - name: Set default branch.
        run: git remote set-head origin --auto
        shell: bash
      - name: Running pub get in talawa_lint
        run: cd talawa_lint && flutter pub get && cd ..
      - name: Running pub get to fetch dependencies
        run: flutter pub get
      - name: Checking for correct formatting of code
        run: dart format --set-exit-if-changed .
      - name: Count lines of code in each file
        run: chmod +x ./.github/workflows/countline.py
      - name: Running count lines
        run: ./.github/workflows/countline.py --exclude_directories test/ --exclude_files lib/custom_painters/talawa_logo.dart lib/custom_painters/language_icon.dart lib/custom_painters/whatsapp_logo.dart lib/utils/queries.dart lib/view_model/after_auth_view_models/profile_view_models/profile_page_view_model.dart lib/view_model/pre_auth_view_models/select_organization_view_model.dart lib/views/after_auth_screens/profile/profile_page.dart lib/view_model/main_screen_view_model.dart lib/views/after_auth_screens/events/create_event_page.dart
      - name: setup python
        uses: actions/setup-python@v4
      - name: Check for presence of ignore directives corresponding to custom lints
        run: chmod +x ./.github/workflows/check_ignore.py
      - name: Run check_ignore
        run: |
          git branch
          git checkout -b temp_branch
          git branch
          git stash push -m lock_file pubspec.lock
          git checkout develop
          git pull
          git branch
          git diff --name-only develop..HEAD
          git checkout temp_branch
          pip install GitPython
          python ./.github/workflows/check_ignore.py --repository ${{github.repository}} --merge_branch_name ${{github.head_ref}}
      - name: Compare translation files
        run: |
          chmod +x .github/workflows/compare_translations.py
          python .github/workflows/compare_translations.py --directory lang

      - name: Analysing codebase for default linting
        run: flutter analyze --no-pub
      - name: Analysing codebase for custom linting
        run: dart run custom_lint
      - name: Changed Files
        id: changed-files
        uses: tj-actions/changed-files@v41
      - name: List all changed files
        run: |
          for file in ${{ steps.changed-files.outputs.all_changed_files }}; do
            echo "$file was changed"
          done

#       - name: Echo the GitHub environment for troubleshooting
#         run: echo "$GITHUB_CONTEXT"
#       - name: Echo the GitHub context for troubleshooting
#         run: echo "${{ toJSON(github) }}"
#       - name: setup python
#         uses: actions/setup-python@v4
#       - name: Granting permission to documentationcheck.py
#         run: chmod +x ./.github/workflows/documentationcheck.py
#       - name: execute py script
#         # For more information on the GitHub context used for the "--repository" flag used by this script visit:
#         # https://docs.github.com/en/actions/learn-github-actions/contexts
#         run: |
#           git branch
#           pip install GitPython
#           python ./.github/workflows/documentationcheck.py --repository ${{github.repository}} --merge_branch_name ${{github.ref_name}}

  Flutter-Testing:
    name: Testing codebase
    runs-on: ubuntu-latest
    needs: Flutter-Codebase-Check
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu' # See 'Supported distributions' for available options
          java-version: '12.0'
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.16.0'
          channel: 'stable' # or: 'beta', 'dev' or 'master'
      - name: Running pub get to fetch dependencies
        run: flutter pub get
      - name: Codebase testing
        run: flutter test --coverage
      - name: Present and upload coverage to Codecov as ${{env.CODECOV_UNIQUE_NAME}}
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
          fail_ci_if_error: false
          name: '${{env.CODECOV_UNIQUE_NAME}}'
      - name: Test acceptable level of code coverage
        uses: VeryGoodOpenSource/very_good_coverage@v2
        with:
          path: './coverage/lcov.info'
          min_coverage: 92.0

  Android-Build:
    name: Testing build for android
    runs-on: ubuntu-latest
    needs: Flutter-Codebase-Check
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu' # See 'Supported distributions' for available options
          java-version: '12.0'
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.16.0'
          channel: 'stable' # or: 'beta', 'dev' or 'master'
      - name: Running pub get to fetch dependencies
        run: flutter pub get
      - name: Building for android
        run: flutter build apk

  iOS-Build:
    name: Testing build for iOS
    runs-on: macos-latest
    needs: Flutter-Codebase-Check
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.16.0'
          channel: 'stable' # or: 'beta', 'dev' or 'master'
          architecture: x64
      - name: Building for ios
        run: flutter build ios --release --no-codesign

  Branch-check:
    name: "Base branch check"
    runs-on: ubuntu-latest
    steps:
      - name: "Check if base branch is develop"
        if: github.event.pull_request.base.ref != 'develop'
        run: |
          echo "PR is not against develop branch. Please refer PR_GUIDELINES.md"
          exit 1
