##############################################################################
##############################################################################
#
# NOTE!
#
# Please read the README.md file in this directory that defines what should
# be placed in this file
#
##############################################################################
##############################################################################

name: PR Workflow
on:
  pull_request:
    branches-ignore:
      - "master"

env:
  CODECOV_UNIQUE_NAME: CODECOV_UNIQUE_NAME-${{ github.run_id }}-${{ github.run_number }}

jobs:
  Flutter-Codebase-Check:
    name: Checking codebase
    runs-on: ubuntu-latest
    #needs: PR-Greeting
    steps:
      - uses: actions/checkout@v4
        with:
          # ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0
      - uses: actions/setup-java@v4
        with:
          distribution: "zulu" # See 'Supported distributions' for available options
          java-version: "17.0"
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.22.3"
          channel: "stable" # or: 'beta', 'dev' or 'master'
      - name: Set default branch.
        run: git remote set-head origin --auto
        shell: bash
      - name: Running pub get in talawa_lint
        run: cd talawa_lint && flutter pub get && cd ..
      - name: Running pub get to fetch dependencies
        run: flutter pub get
      - name: Checking for correct formatting of code
        run: dart format --set-exit-if-changed .
      - name: Count lines of code in each file
        run: chmod +x ./.github/workflows/countline.py
      - name: Running count lines
        run: ./.github/workflows/countline.py --exclude_directories test/ --exclude_files lib/custom_painters/talawa_logo.dart lib/custom_painters/language_icon.dart lib/custom_painters/whatsapp_logo.dart lib/utils/queries.dart lib/view_model/after_auth_view_models/profile_view_models/profile_page_view_model.dart lib/view_model/pre_auth_view_models/select_organization_view_model.dart lib/views/after_auth_screens/profile/profile_page.dart lib/view_model/main_screen_view_model.dart lib/views/after_auth_screens/events/create_event_page.dart lib/views/after_auth_screens/org_info_screen.dart lib/views/after_auth_screens/events/manage_volunteer_group.dart lib/views/after_auth_screens/events/create_agenda_item_page.dart lib/views/after_auth_screens/events/edit_agenda_item_page.dart lib/utils/event_queries.dart
      - name: setup python
        uses: actions/setup-python@v5
      - name: Check for presence of ignore directives corresponding to custom lints
        run: chmod +x ./.github/workflows/check_ignore.py
      - name: Run check_ignore
        run: |
          git branch
          git checkout -b temp_branch
          git branch
          git stash push -m lock_file pubspec.lock
          git checkout develop
          git pull
          git branch
          git diff --name-only develop..HEAD
          git checkout temp_branch
          pip install GitPython
          python ./.github/workflows/check_ignore.py --repository ${{github.repository}} --merge_branch_name ${{github.head_ref}}
      - name: Compare translation files
        run: |
          chmod +x .github/workflows/compare_translations.py
          python .github/workflows/compare_translations.py --directory lang

      - name: Analysing codebase for default linting
        run: flutter analyze --no-pub
      - name: Analysing codebase for custom linting
        run: dart run custom_lint
      - name: Changed Files
        id: changed-files
        uses: tj-actions/changed-files@v45
      - name: List all changed files
        run: |
          for file in ${{ steps.changed-files.outputs.all_changed_files }}; do
            echo "$file was changed"
          done

      - name: Check if the source and target branches are different
        if: ${{ github.event.pull_request.base.ref == github.event.pull_request.head.ref }}
        run: |
          echo "Source Branch ${{ github.event.pull_request.head.ref }}"
          echo "Target Branch ${{ github.event.pull_request.base.ref }}"
          echo "Error: Source and Target Branches are the same. Please ensure they are different."
          echo "Error: Close this PR and try again."          
          exit 1

  #       - name: Echo the GitHub environment for troubleshooting
  #         run: echo "$GITHUB_CONTEXT"
  #       - name: Echo the GitHub context for troubleshooting
  #         run: echo "${{ toJSON(github) }}"
  #       - name: setup python
  #         uses: actions/setup-python@v5
  #       - name: Granting permission to documentationcheck.py
  #         run: chmod +x ./.github/workflows/documentationcheck.py
  #       - name: execute py script
  #         # For more information on the GitHub context used for the "--repository" flag used by this script visit:
  #         # https://docs.github.com/en/actions/learn-github-actions/contexts
  #         run: |
  #           git branch
  #           pip install GitPython
  #           python ./.github/workflows/documentationcheck.py --repository ${{github.repository}} --merge_branch_name ${{github.ref_name}}

  Flutter-Testing:
    name: Testing codebase
    runs-on: ubuntu-latest
    needs: Flutter-Codebase-Check
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: "zulu" # See 'Supported distributions' for available options
          java-version: "17.0"
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.22.3"
          channel: "stable" # or: 'beta', 'dev' or 'master'
      - name: Running pub get to fetch dependencies
        run: flutter pub get
      - name: Codebase testing
        run: flutter test --coverage
      - name: Present and upload coverage to Codecov as ${{env.CODECOV_UNIQUE_NAME}}
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
          fail_ci_if_error: false
          name: "${{env.CODECOV_UNIQUE_NAME}}"
      - name: Test acceptable level of code coverage
        uses: VeryGoodOpenSource/very_good_coverage@v3
        with:
          path: "./coverage/lcov.info"
          min_coverage: 92.0

  Android-Build:
    name: Testing build for android
    runs-on: ubuntu-latest
    needs: Flutter-Codebase-Check
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: "zulu" # See 'Supported distributions' for available options
          java-version: "17.0"
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.22.3"
          channel: "stable" # or: 'beta', 'dev' or 'master'
      - name: Running pub get to fetch dependencies
        run: flutter pub get
      - name: Building for android
        run: flutter build apk

  iOS-Build:
    name: Testing build for iOS
    runs-on: macos-latest
    needs: Flutter-Codebase-Check
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.22.3"
          channel: "stable" # or: 'beta', 'dev' or 'master'
          architecture: x64
      - name: Building for ios
        run: flutter build ios --release --no-codesign

  Branch-check:
    if: ${{ github.actor != 'dependabot[bot]' && !contains(github.event.pull_request.labels.*.name, 'ignore-sensitive-files-pr') }}
    name: "Base branch check"
    runs-on: ubuntu-latest
    steps:
      - name: "Check if base branch is develop-postgres"
        if: github.event.pull_request.base.ref != 'develop-postgres'
        run: |
          echo "PR is not against develop-postgres branch. Please refer PR_GUIDELINES.md"
          echo "Error: Close this PR and try again."
          exit 1

  Check-Sensitive-Files:
    if: ${{ github.actor != 'dependabot[bot]' && !contains(github.event.pull_request.labels.*.name, 'ignore-sensitive-files-pr') }}
    name: Checks if sensitive files have been changed without authorization
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Get Changed Unauthorized files
        id: changed-unauth-files
        uses: tj-actions/changed-files@v45
        with:
          files: |
            .github/**
            env.example
            .node-version
            .husky/**
            scripts/**
            package.json
            tsconfig.json
            .gitignore
            .eslintrc.json
            .eslintignore
            vite.config.ts
            pubspec.yaml
            docker-compose.yaml
            Dockerfile
            CODEOWNERS
            LICENSE
            setup.ts
            .coderabbit.yaml
            CODE_OF_CONDUCT.md
            CONTRIBUTING.md
            DOCUMENTATION.md
            INSTALLATION.md
            ISSUE_GUIDELINES.md
            PR_GUIDELINES.md
            README.md
            .nojekyll
            yarn.lock
            docs/docusaurus.config.ts
            docs/sidebar*
            CNAME
            
      - name: List all changed unauthorized files
        if: steps.changed-unauth-files.outputs.any_changed == 'true' || steps.changed-unauth-files.outputs.any_deleted == 'true'
        env:
          CHANGED_UNAUTH_FILES: ${{ steps.changed-unauth-files.outputs.all_changed_files }}
        run: |
          for file in ${CHANGED_UNAUTH_FILES}; do
            echo "$file is unauthorized to change/delete"
          done
          echo "To override this, apply the 'ignore-sensitive-files-pr' label"
          exit 1

  Count-Changed-Files:
    if: ${{ github.actor != 'dependabot[bot]' }}
    name: Checks if number of files changed is acceptable
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v45

      - name: Echo number of changed files
        env:
          CHANGED_FILES_COUNT: ${{ steps.changed-files.outputs.all_changed_files_count }}
        run: |
          echo "Number of files changed: $CHANGED_FILES_COUNT"
      - name: Check if the number of changed files is less than 100
        if: steps.changed-files.outputs.all_changed_files_count > 100
        env:
          CHANGED_FILES_COUNT: ${{ steps.changed-files.outputs.all_changed_files_count }}
        run: |
          echo "Error: Too many files (greater than 100) changed in the pull request."
          echo "Possible issues:"
          echo "- Contributor may be merging into an incorrect branch."
          echo "- Source branch may be incorrect please use develop as source branch."
          exit 1
