name: PR Target Workflow

on:
  pull_request_target:

jobs:
  PR-Greeting:
    uses: PalisadoesFoundation/.github/.github/workflows/pull-request-target.yml@main
    # secrets:
    #   GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
