name: PUSH Workflow
on: [push]

jobs:
  PR-Greeting:
    name: Greeting Message to user
    runs-on: ubuntu-latest
    steps:
      - uses: actions/first-interaction@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          pr-message: "Congratulations on making your first PR! :confetti_ball: If you haven't already, check out our [Contributing Guidelines](https://github.com/PalisadoesFoundation/talawa/blob/master/CONTRIBUTING.md) and [PR Reporting Guidelines](https://github.com/PalisadoesFoundation/talawa/blob/master/PR-guidelines.md) to ensure that you are following our guidelines for contributing and creating PR."

  Flutter-Codebase-Check:
    name: Checking codebase
    runs-on: ubuntu-latest
    needs: PR-Greeting
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: '12.x'
      - uses: subosito/flutter-action@v1
        with:
          channel: 'stable' # or: 'beta', 'dev' or 'master'
      - name: Running pub get to fetch dependencies
        run: flutter pub get
      - name: Checking for correct formatting of code
        run: flutter format --set-exit-if-changed .
      - name: Count lines of code in each file
        run: chmod +x ./.github/workflows/countline.py
      - name: Running count lines
        run: ./.github/workflows/countline.py --exclude lib/custom_painters/talawa_logo.dart lib/custom_painters/whatsapp_logo.dart lib/utils/queries.dart test/helpers/test_helpers.mocks.dart test/widget_tests/pre_auth_screens/set_url_page_test.dart lib/view_model/pre_auth_view_models/select_organization_view_model.dart lib/views/after_auth_screens/profile/profile_page.dart lib/view_model/main_screen_view_model.dart lib/views/after_auth_screens/events/create_event_page.dart
      - name: Analysing codebase for linting
        run: flutter analyze --no-pub

  Flutter-Testing:
    name: Testing codebase
    runs-on: ubuntu-latest
    needs: Flutter-Codebase-Check
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: '12.x'
      - uses: subosito/flutter-action@v1
        with:
          channel: 'stable' # or: 'beta', 'dev' or 'master'
      - name: Running pub get to fetch dependencies
        run: flutter pub get
      - name: Codebase testing
        run: flutter test --coverage
      - name: Report code coverage
        uses: VeryGoodOpenSource/very_good_coverage@v1.1.1
        with:
          path: "./coverage/lcov.info"
          min_coverage: 25

  iOS-Build:
    name: Testing build for iOS
    runs-on: macos-latest
    needs: Flutter-Codebase-Check
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: '12.x'
      - uses: subosito/flutter-action@v1
        with:
          channel: 'stable' # or: 'beta', 'dev' or 'master'
      - name: Building for ios
        run: flutter build ios --release --no-codesign
